export DOTFILES="$HOME/dotfiles"
export LG="$HOME/lg"

# starship prompt config location
export STARSHIP_CONFIG=~/.config/starship/config.toml

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export ZSH_CACHE_DIR="$XDG_CACHE_HOME/zsh"

if [[ -e "${HOME}/Android/Sdk" ]]; then
  export ANDROID_SDK=$HOME/Android/Sdk
  export ANDROID_SDK_ROOT=$ANDROID_SDK
  export ANDROID_HOME=$ANDROID_SDK
  export PATH=$ANDROID_SDK/platform-tools:$PATH                   # Android platform tools
  export PATH=$ANDROID_SDK/cmdline-tools/latest/bin:$PATH         # Android command line tools
fi

export GOPATH=$(go env GOPATH)
export GOBIN=$GOPATH/bin

export KITTY_REMOTE=/tmp/kitty_remote

export EDITOR=nvim
export SYSTEMD_EDITOR=nvim
export VISUAL=nvim

export MANPAGER="nvim -c 'set ft=man' -"

# fzf customization
# export FZF_DEFAULT_COMMAND='fd --type f --follow --exclude .git'
# export FZF_DEFAULT_OPTS="--height 40% --border --layout=reverse --inline-info --preview='head -$LINES {}'"
# export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
# export FZF_DEFAULT_OPTS="
# --exact
# --border
# --cycle
# --reverse
# --height '80%'
# "

# setup PATH
export PATH=$HOME/.local/share/language-servers/kotlin-language-server/server/build/install/server/bin:$PATH
export PATH=/usr/local/sbin:$PATH
export PATH=$HOME/bin:$PATH
export PATH=$HOME/.local/bin:$PATH

export PATH=$HOME/.config/rofi/bin:$PATH                        # rofi scripts
export PATH=/usr/local/opt/gnu-sed/libexec/gnubin:$PATH         # `gsed` as `sed`
export PATH=/usr/local/opt/gnu-getopt/bin:$PATH                 # gnu-getopt over bad getopt
export PATH=$HOME/.fzf/bin:$PATH                                # fzf fuzzy finder
export PATH=$HOME/.cargo/bin:$PATH                              # rust scripts
export PATH=$GOBIN:$PATH                                        # go binaries
export PATH=".:$PATH"                                           # gradle completion

if [[ $(uname) == "Darwin" ]]; then
  export PATH="$HOME/.config/yabai/bin:$PATH"                # yabai scripts
fi


# export PATH="$(gem env gemdir):$PATH"                             # ruby gems


# export NEO4J_HOME="/usr/local/opt/neo4j"
# export PATH="/usr/local/opt/neo4j/bin:$PATH"

# Pure prompt customization
export PURE_PROMPT_SYMBOL=$i_mdi_chevron_right
export PURE_PROMPT_VICMD_SYMBOL=$i_mdi_chevron_left

# nvm-zsh customization
export NVM_AUTO_USE=true
export NVM_COMPLETION=true
export NVM_LAZY_LOAD=true
export NVM_LAZY_LOAD_EXTRA_COMMANDS=('yarn', 'nvim', 'vim', 'idea', 'studio', 'code')

# zlib stuff
export LDFLAGS="-L/usr/local/opt/zlib/lib"
export CPPFLAGS="-I/usr/local/opt/zlib/include"

export PKG_CONFIG_PATH="/usr/local/opt/zlib/lib/pkgconfig"

# export PAGER="less -r"
# export LESSOPEN="|/usr/local/bin/lesspipe.sh %s" LESS_ADVANCED_PREPROCESSOR=1
export LESSOPEN="|/usr/local/bin/lesspipe.sh %s"
export LESS_ADVANCED_PREPROCESSOR=1
export PAGER="less -RF"
export LESS="-rf"

export NEO4J_HOME="/usr/local/opt/neo4j/libexec"

if [[ $(uname) == "Darwin" ]]; then
  export JAVA_HOME="$(jenv javahome)"
fi
# vim: filetype=bash

