#!/usr/bin/env zsh

export DOTFILES="$HOME/dotfiles"
export LG="$HOME/lg"

# starship prompt config location
export STARSHIP_CONFIG=~/.config/starship/config.toml

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export ZSH_CACHE_DIR="$XDG_CACHE_HOME/zsh"

if [[ -e "${HOME}/Android/Sdk" ]]; then
  export ANDROID_SDK=$HOME/Android/Sdk
  export ANDROID_SDK_ROOT=$ANDROID_SDK
  export ANDROID_HOME=$ANDROID_SDK
  export PATH=$ANDROID_SDK/platform-tools:$PATH                   # Android platform tools
  export PATH=$ANDROID_SDK/cmdline-tools/latest/bin:$PATH         # Android command line tools
fi

# add op-ssh-sign to path on macos
export PATH="$PATH:/Applications/1Password.app/Contents/MacOS"

export LESSOPEN="|$(which lesspipe.sh) %s"

export GOPATH=$(go env GOPATH)
export GOBIN=$GOPATH/bin

if [[ "$(command -v nvim)" ]]; then
  export EDITOR='nvim'
  export SYSTEMD_EDITOR='nvim'
  export VISUAL='nvim'
  export MANWIDTH=999
fi

# fzf customization

# Preview file content using bat (https://github.com/sharkdp/bat)
export FZF_CTRL_T_OPTS="
  --preview 'bat -n --color=always {}'
  --bind 'ctrl-/:change-preview-window(right|hidden|)'"

# CTRL-/ to toggle small preview window to see the full command
# CTRL-Y to copy the command into clipboard using pbcopy
export FZF_CTRL_R_OPTS="
  --preview 'echo {}' --preview-window up:3:hidden:wrap
  --bind 'ctrl-/:toggle-preview'
  --bind 'ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort'
  --color header:italic
  --header 'Press CTRL-Y to copy command into clipboard'"

# Print tree structure in the preview window
export FZF_ALT_C_OPTS="--preview 'tree -C {}'"


export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git'

# export FZF_DEFAULT_COMMAND='rg --hidden -l ""'
# export FZF_DEFAULT_COMMAND='fd --type f --follow --exclude .git'
# export FZF_DEFAULT_OPTS="--height 40% --border --layout=reverse --inline-info --preview='head -$LINES {}'"
# export FZF_CTRL_T_COMMAND="${FZF_DEFAULT_COMMAND}"
# export FZF_DEFAULT_OPTS="
# --exact
# --border
# --cycle
# --reverse
# --height '80%'
# "

# setup PATH
export PATH=$HOME/.local/share/language-servers/kotlin-language-server/server/build/install/server/bin:$PATH
export PATH=/usr/local/sbin:$PATH
export PATH=$HOME/bin:$PATH
export PATH=$HOME/.local/bin:$PATH

export PATH=$HOME/.config/rofi/bin:$PATH                        # rofi scripts
export PATH=$HOME/.fzf/bin:$PATH                                # fzf fuzzy finder
export PATH=$HOME/.cargo/bin:$PATH                              # rust scripts
export PATH=$GOBIN:$PATH                                        # go binaries
export PATH=".:$PATH"                                           # gradle completion

if [[ $(uname) == "Darwin" ]]; then
  export PATH="$HOME/.config/yabai/bin:$PATH"                # yabai scripts
fi

# Pure prompt customization
export PURE_PROMPT_SYMBOL=$i_mdi_chevron_right
export PURE_PROMPT_VICMD_SYMBOL=$i_mdi_chevron_left

# nvm-zsh customization
export NVM_AUTO_USE=true
export NVM_COMPLETION=true
export NVM_LAZY_LOAD=false
# export NVM_LAZY_LOAD_EXTRA_COMMANDS=('yarn', 'nvim', 'vim', 'idea', 'studio', 'code')

# zlib stuff
# export LDFLAGS="-L/usr/local/opt/zlib/lib"
# export CPPFLAGS="-I/usr/local/opt/zlib/include"
# export PKG_CONFIG_PATH="/usr/local/opt/zlib/lib/pkgconfig"

W3M_IMG2SIXEL=/usr/local/bin/img2sixel
