#!/usr/bin/env bash

# Determine size of a file or total size of a directory
fs(){
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh
  else
    local arg=-sh
  fi
  # shellcheck disable=SC2199
  if [[ -n "$@" ]]; then
    du $arg -- "$@"
  else
    du $arg -- .[^.]* *
  fi
}

wal() {
  if [[ $(uname) == "Darwin" ]]; then
    command wal -e -s -t -o wal-set $@
  else
    command wal -o wal-set $@
  fi
}

timeshell(){
  echo "\$SHELL: $SHELL"
  shell=${1-$SHELL}
  for i in $(seq 1 10); do /usr/bin/time $shell -i -c exit; done
}

json(){
  if [[ $# -eq 0 ]]; then
    # No argument passed, use stdin
    cat - | python3 -m json.tool
  elif [[ -n "$1" ]]; then
    python3 -m json.tool $1
  else
    return 1
  fi
}

exportenv() {
  set -av
  . $1
  set +av
}

hextorgb() {
  hex="$1"
  hex=${hex#"#"}
  printf "%d %d %d\n" 0x${hex:0:2} 0x${hex:2:2} 0x${hex:4:2}
}
