#!/usr/bin/env bash

if [[ "$(uname -s)" == "Darwin" ]]; then
  exit 0
fi

if [[ -z "$SSH_CLIENT" ]]; then
  /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
  xsettingsd &
  picom -b
  libinput-gestures-setup start
  unclutter &
  dunst &
  networkd-notify &
  monitor-hotplug &
  wal -R &
fi
